<template>
    <div id="user-input">
        {{inputName}}
        <input v-model="inputValue" @change="handleChange"/>
    </div>
</template>

<script src="./userInput.js">

</script>

<style scoped>

</style>