<template>
    <div id="user-info">
        <table id="user-info-table">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Job</th>
        </tr>
        <tr v-for="(item) in lst" :key="item">
            <td v-for="(val, key) in Object.values(item)[0]" :key="key">{{val}}</td>
        </tr>
        </table>
    </div>
</template>

<script src="./userData.js">

</script>

<style scoped>
    #user-info-table {
        width: 100%;
    }
</style>