<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/ptaq_logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <!--todo:-->
    <!--<UserInput v-for="value in userFields" v-bind:key="value.id" v-bind:inputName="value"/>-->
    <UserInput inputName="Username"/>
    <br />
    <UserInput inputName="Surname"/>
    <br />
    <UserInput inputName="Job"/>
    <button @click="sendData(); updateUsersList();">Save</button>
    <br />
    <br />
    <br />
    <UserData :lst="listOfUsers"/>
  </div>
</template>

<script src="./app.js"></script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
